<h3 class="archive__subtitle"> Recent News </h3>
<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <p class="archive__item-news" itemprop="description">
        <table style="width:100%;border-collapse:separate;border-spacing:4px">
            <tr style="border-bottom:none;">
                <td style="vertical-align:top;padding:0em;border-bottom:none;"><a class="archive-date" style="vertical-align:5%;font-family:'Monaco';min-width:0em;color:white;background-color:dodgerblue;">&nbsp;2021.07&nbsp;</a></td>
                <td style="width:100%;margin-left:0.5em;vertical-align:top;padding:0em;border-bottom:none;">🔥 A paper on defocus deblurring (KPAC) is accepted to <a style="color:DodgerBlue"target="_blank" rel="noopener noreferrer" href="http://iccv2021.thecvf.com/">ICCV 2021</a>.</td>
            </tr>
            <tr style="border-bottom:none;">
                <td style="vertical-align:top;padding:0em;border-bottom:none;"><a class="archive-date" style="vertical-align:5%;font-family:'Monaco';min-width:0em;color:white;background-color:dodgerblue;">&nbsp;2021.06&nbsp;</a></td>
                <td style="width:100%;margin-left:0.5em;vertical-align:top;padding:0em;border-bottom:none;">We are releasing source codes for <a style="color:DodgerBlue" target="_blank" rel="noopener noreferrer" href="https://github.com/codeslake/IFAN">IFAN</a> and <a style="color:DodgerBlue" target="_blank" rel="noopener noreferrer" href="https://github.com/codeslake/PVDNet">PVDNet</a>.</td>
            </tr>
            <tr style="border-bottom:none;">
                <td style="vertical-align:top;padding:0em;border-bottom:none;"><a class="archive-date" style="vertical-align:5%;font-family:'Monaco';min-width:0em;color:white;background-color:dodgerblue;">&nbsp;2021.03&nbsp;</a></td>
                <td style="width:100%;margin-left:0.5em;vertical-align:top;padding:0em;border-bottom:none;">Demos for <a style="color:DodgerBlue" target="_blank" rel="noopener noreferrer" href="https://2JI532DIZN4TSYWF.anvil.app/BIEWGFSFTYML53VXPQZBRNTX">DMENet</a> and <a style="color:DodgerBlue" target="_blank" rel="noopener noreferrer" href="https://yj5yknvb7by5pn7y.anvil.app/KNK4MOE27FW3VZNDQUNHAJAY">IFAN</a> are released.</td>
            </tr>
            <tr style="border-bottom:none;">
                <td style="vertical-align:top;padding:0em;border-bottom:none;"><a class="archive-date" style="vertical-align:5%;font-family:'Monaco';min-width:0em;color:white;background-color:dodgerblue;">&nbsp;2021.03&nbsp;</a></td>
                <td style="width:100%;margin-left:0.5em;vertical-align:top;padding:0em;border-bottom:none;">A paper on video deblurring (PVDNet) is accepted to <a style="color:DodgerBlue" target="_blank" rel="noopener noreferrer" href="https://dl.acm.org/journal/tog">TOG 2021</a>.</td>
            </tr>
            <tr style="border-bottom:none;">
                <td style="vertical-align:top;padding:0em;border-bottom:none;"><a class="archive-date" style="vertical-align:5%;font-family:'Monaco';min-width:0em;color:white;background-color:dodgerblue;">&nbsp;2021.03&nbsp;</a></td>
                <td style="width:100%;margin-left:0.5em;vertical-align:top;padding:0em;border-bottom:none;">A paper on defocus deblurring (IFAN) is accepted to <a style="color:DodgerBlue"target="_blank" rel="noopener noreferrer" href="http://cvpr2021.thecvf.com/">CVPR 2021</a>.</td>
            </tr>
            <tr style="border-bottom:none;">
                <td style="vertical-align:top;padding:0em;border-bottom:none;"><a class="archive-date" style="vertical-align:5%;font-family:'Monaco';min-width:0em;color:white;background-color:forestgreen;">&nbsp;2020.12&nbsp;</a></td>
                <td style="width:100%;margin-left:0.5em;vertical-align:top;padding:0em;border-bottom:none;">We received the presentation award for our paper on defocus deblurring at KSC 2020.</td>
            </tr>
            <tbody class="labels_hide">
                <tr style="border-bottom:none;">
                    <td colspan="2" style="vertical-align:top;padding: 0em;padding-left:0.5em;border-bottom:none;">
                        <label for="previous_news" style="color:#069">Previous news ▽</label>
                        <input type="checkbox" name="previous_news" id="previous_news" data-toggle="toggle">
                    </td>
                </tr>
            </tbody>
            <tbody class="hide" style="display: none">
            <tr style="border-bottom:none;">
                <td style="vertical-align:top;padding:0em;border-bottom:none;"><a class="archive-date" style="vertical-align:5%;font-family:'Monaco';min-width:0em;color:white;background-color:forestgreen;">&nbsp;2020.10&nbsp;</a></td>
                <td style="width:100%;margin-left:0.5em;vertical-align:top;padding:0em;border-bottom:none;">We are releasing the <a style="color:DodgerBlue" target="_blank" rel="noopener noreferrer" href="https://github.com/codeslake/Color_Transfer_Histogram_Analogy">source code</a> for the paper on color transfer using histogram analogy.</td>
            </tr>
            <tr style="border-bottom:none;">
                <td style="vertical-align:top;padding:0em;border-bottom:none;"><a class="archive-date" style="vertical-align:5%;font-family:'Monaco';min-width:0em;color:white;background-color:forestgreen;">&nbsp;2020.09&nbsp;</a></td>
                <td style="width:100%;margin-left:0.5em;vertical-align:top;padding:0em;border-bottom:none;">A paper on color transfer is accepted to <a style="color:DodgerBlue" target="_blank" rel="noopener noreferrer" href="http://www.cgs-network.org/cgi20/">CGI 2020</a>.</td>
            </tr>
            <tr style="border-bottom:none;">
                <td style="vertical-align:top;padding:0em;border-bottom:none;"><a class="archive-date" style="vertical-align:5%;font-family:'Monaco';min-width:0em;color:white;background-color:dodgerblue;">&nbsp;2019.11&nbsp;</a></td>
                <td style="width:100%;margin-left:0.5em;vertical-align:top;padding:0em;border-bottom:none;">I won NAVER Ph.D Fellowship.</td>
            </tr>
            <tr style="border-bottom:none;">
                <td style="vertical-align:top;padding:0em;border-bottom:none;"><a class="archive-date" style="vertical-align:5%;font-family:'Monaco';min-width:0em;color:white;background-color:dodgerblue;">&nbsp;2019.06&nbsp;</a></td>
                <td style="width:100%;margin-left:0.5em;vertical-align:top;padding:0em;border-bottom:none;">We are releasing source codes for <a style="color:DodgerBlue" target="_blank" rel="noopener noreferrer" href="https://github.com/codeslake/DMENet">DMENet</a> and <a style="color:DodgerBlue" target="_blank" rel="noopener noreferrer" href="https://github.com/codeslake/SYNDOF">SYNDOF</a>.</td>
            </tr>
            <tr style="border-bottom:none;">
                <td style="vertical-align:top;padding:0em;border-bottom:none;"><a class="archive-date" style="vertical-align:5%;font-family:'Monaco';min-width:0em;color:white;background-color:dodgerblue;">&nbsp;2019.03&nbsp;</a></td>
                <td style="width:100%;margin-left:0.5em;vertical-align:top;padding:0em;border-bottom:none;">A paper on defocus map estimation is accepted to <a style="color:DodgerBlue" target="_blank" rel="noopener noreferrer" href="http://cvpr2019.thecvf.com/">CVPR 2019</a>.</td>
            </tr>
            </tbody>
        </table>
    <p/>
  </article>
</div>
